
<h2>Add a New Task</h2>

<form action="/tasks/new" method="post">
  <div>
    <label for="task_name">New Task Name:</label>
    <input type="text" id="task_name" name="task_name">
  </div>

  <div>
    <input type="radio" id="priorityChoice1"
     name="priority" value="Low Priority">
    <label for="priorityChoice1">Low</label>

    <input type="radio" id="priorityChoice2"
     name="priority" value="Medium Priority">
    <label for="priorityChoice2">So so</label>

    <input type="radio" id="priorityChoice3"
     name="priority" value="Cow Priority">
    <label for="priorityChoice3">Cow Priority</label>
  </div>


  <input type="submit" value="Add New Task"/>

</form>

<img src="" alt="">
